<div>
        <h3>
            Total score (90.0 / 90)
        </h3>
    
        <div class="test">
          <section>
          <div class="shortform">
            Question 1 (30.0/30) <span class="correct"/>
          </div>
        <div class="longform">
          <pre>PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q1\grade-agent.test (4.0 of 4 points)
EXTRA CREDIT: 26.0 points
    1146.2 average score (15.0 of 15.0 points)
        Grading scheme:
         &lt; 500:  0 points
        &gt;= 500:  7.5 points
        &gt;= 1000:  15.0 points
    10 games not timed out (0 of 0.0 points)
        Grading scheme:
         &lt; 10:  fail
        &gt;= 10:  0 points
    10 wins (15.0 of 15.0 points)
        Grading scheme:
         &lt; 1:  fail
        &gt;= 1:  0 points
        &gt;= 5:  7.5 points
        &gt;= 10:  15.0 points</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 2 (30/30) <span class="correct"/>
          </div>
        <div class="longform">
          <pre>PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\0-lecture-6-tree.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\0-small-tree.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-1-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-2-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-3-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-4-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-5-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-6-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-7-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\1-8-minmax.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-1a-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-1b-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-2a-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-2b-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-3a-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-3b-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-4a-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-4b-vary-depth.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\2-one-ghost-3level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\3-one-ghost-4level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\4-two-ghosts-3level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\5-two-ghosts-4level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\6-tied-root.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\7-1a-check-depth-one-ghost.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\7-1b-check-depth-one-ghost.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\7-1c-check-depth-one-ghost.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\7-2a-check-depth-two-ghosts.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\7-2b-check-depth-two-ghosts.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\7-2c-check-depth-two-ghosts.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q2\8-pacman-game.test</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 3 (30/30) <span class="correct"/>
          </div>
        <div class="longform">
          <pre>PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\0-expectimax1.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\1-expectimax2.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\2-one-ghost-3level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\3-one-ghost-4level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\4-two-ghosts-3level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\5-two-ghosts-4level.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\6-1a-check-depth-one-ghost.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\6-1b-check-depth-one-ghost.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\6-1c-check-depth-one-ghost.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\6-2a-check-depth-two-ghosts.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\6-2b-check-depth-two-ghosts.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\6-2c-check-depth-two-ghosts.test
PASS: C:\Dev\CS471\10 - STUDENT STUBS\PEX2-MultiAgent\test_cases\q3\7-pacman-game.test</pre>
        </div>
        </section>
      </div>
      </div>