<div>
        <h3>
            Total score (0 / 85)
        </h3>
    
        <div class="test">
          <section>
          <div class="shortform">
            Question 1 (0/5) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>FAIL: Exception raised: float() argument must be a string or a number, not 'NoneType'

Traceback (most recent call last):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\grading.py", line 77, in grade
    util.TimeoutFunction(getattr(gradingModule, q),1800)(self) # Call the question's function
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\util.py", line 639, in __call__
    result = self.function(*args, **keyArgs)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 300, in &lt;lambda&gt;
    return lambda grades: question.execute(grades)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\testClasses.py", line 57, in execute
    if not f(grades):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 295, in &lt;lambda&gt;
    return lambda grades: testCase.execute(grades, moduleDict, solutionDict)
  File "tracking_fa14TestClasses.py", line 234, in execute
    result = [str(x) for x in result]
  File "tracking_fa14TestClasses.py", line 234, in &lt;listcomp&gt;
    result = [str(x) for x in result]
TypeError: float() argument must be a string or a number, not 'NoneType'
</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 2 (0/15) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>q2) Distribution deviated at move 0 by 6.1250 (squared norm) from the correct answer.
      key:     student                  reference                
   (5, 4):     1.0                      0.125                    
   (5, 2):     1.0                      0.125                    
   (1, 4):     1.0                      0.125                    
   (7, 4):     1.0                      0.125                    
   (9, 4):     1.0                      0.125                    
   (3, 4):     1.0                      0.125                    
   (2, 4):     1.0                      0.125                    
   (8, 4):     1.0                      0.125                    
q2) Exact inference stationary pacman observe test: 52 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q2\1-ExactUpdate.test
q2) Distribution deviated at move 0 by 12.0714 (squared norm) from the correct answer.
      key:     student                  reference                
   (1, 3):     1.0                      0.0714285714286          
   (2, 9):     1.0                      0.0714285714286          
   (5, 6):     1.0                      0.0714285714286          
   (2, 8):     1.0                      0.0714285714286          
   (9, 8):     1.0                      0.0714285714286          
   (9, 3):     1.0                      0.0714285714286          
   (9, 9):     1.0                      0.0714285714286          
   (1, 4):     1.0                      0.0714285714286          
   (8, 9):     1.0                      0.0714285714286          
   (1, 8):     1.0                      0.0714285714286          
   (8, 8):     1.0                      0.0714285714286          
   (2, 3):     1.0                      0.0714285714286          
   (1, 9):     1.0                      0.0714285714286          
   (2, 4):     1.0                      0.0714285714286          
q2) Exact inference stationary pacman observe test: 102 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q2\2-ExactUpdate.test
q2) Distribution deviated at move 0 by 20.0455 (squared norm) from the correct answer.
      key:     student                  reference                
   (4, 7):     1.0                      0.0454545454545          
   (1, 3):     1.0                      0.0454545454545          
   (6, 6):     1.0                      0.0454545454545          
   (5, 6):     1.0                      0.0454545454545          
   (2, 8):     1.0                      0.0454545454545          
   (9, 8):     1.0                      0.0454545454545          
   (8, 9):     1.0                      0.0454545454545          
   (6, 7):     1.0                      0.0454545454545          
   (5, 5):     1.0                      0.0454545454545          
   (2, 9):     1.0                      0.0454545454545          
   (4, 5):     1.0                      0.0454545454545          
   (9, 3):     1.0                      0.0454545454545          
   (1, 4):     1.0                      0.0454545454545          
   (2, 3):     1.0                      0.0454545454545          
   (1, 9):     1.0                      0.0454545454545          
   (6, 5):     1.0                      0.0454545454545          
   (4, 6):     1.0                      0.0454545454545          
   (5, 7):     1.0                      0.0454545454545          
   (9, 9):     1.0                      0.0454545454545          
   (1, 8):     1.0                      0.0454545454545          
   (8, 8):     1.0                      0.0454545454545          
   (2, 4):     1.0                      0.0454545454545          
q2) Exact inference stationary pacman observe test: 102 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q2\3-ExactUpdate.test
q2) Distribution deviated at move 0 by 5.1429 (squared norm) from the correct answer.
      key:     student                  reference                
   (7, 3):     1.0                      0.142857142857           
   (1, 3):     1.0                      0.142857142857           
   (3, 3):     1.0                      0.142857142857           
   (6, 3):     1.0                      0.142857142857           
   (2, 3):     1.0                      0.142857142857           
   (4, 3):     1.0                      0.142857142857           
   (5, 3):     1.0                      0.142857142857           
q2) Exact inference stationary pacman observe test: 10 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q2\4-ExactUpdate.test
Tests failed.</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 3 (0/15) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>q3) Distribution deviated at move 0 by 15.0588 (squared norm) from the correct answer.
      key:     student                  reference                
   (2, 7):     1.0                      0.0588235294118          
   (4, 7):     1.0                      0.0588235294118          
   (1, 3):     1.0                      0.0588235294118          
   (5, 4):     1.0                      0.0588235294118          
   (3, 3):     1.0                      0.0588235294118          
   (5, 5):     1.0                      0.0588235294118          
   (5, 6):     1.0                      0.0588235294118          
   (5, 7):     1.0                      0.0588235294118          
   (1, 4):     1.0                      0.0588235294118          
   (1, 5):     1.0                      0.0588235294118          
   (1, 6):     1.0                      0.0588235294118          
   (2, 3):     1.0                      0.0588235294118          
   (4, 3):     1.0                      0.0588235294118          
   (1, 7):     1.0                      0.0588235294118          
   (5, 3):     1.0                      0.0588235294118          
   (3, 7):     1.0                      0.0588235294118          
   (3, 5):     1.0                      0.0588235294118          
q3) Exact inference elapseTime test: 77 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q3\1-ExactPredict.test
q3) Distribution deviated at move 0 by 15.0588 (squared norm) from the correct answer.
      key:     student                  reference                
   (2, 7):     1.0                      0.0588235294118          
   (4, 7):     1.0                      0.0588235294118          
   (1, 3):     1.0                      0.0588235294118          
   (5, 4):     1.0                      0.0588235294118          
   (3, 3):     1.0                      0.0588235294118          
   (5, 5):     1.0                      0.0588235294118          
   (5, 6):     1.0                      0.0588235294118          
   (5, 7):     1.0                      0.0588235294118          
   (1, 4):     1.0                      0.0588235294118          
   (1, 5):     1.0                      0.0588235294118          
   (1, 6):     1.0                      0.0588235294118          
   (2, 3):     1.0                      0.0588235294118          
   (4, 3):     1.0                      0.0588235294118          
   (1, 7):     1.0                      0.0588235294118          
   (5, 3):     1.0                      0.0588235294118          
   (3, 7):     1.0                      0.0588235294118          
   (3, 5):     1.0                      0.0588235294118          
q3) Exact inference elapseTime test: 77 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q3\2-ExactPredict.test
q3) Distribution deviated at move 0 by 64.0152 (squared norm) from the correct answer.
      key:     student                  reference                
   (5, 9):     1.0                      0.0151515151515          
   (4, 7):     1.0                      0.0151515151515          
   (6, 9):     1.0                      0.0151515151515          
   (4, 8):     1.0                      0.0151515151515          
   (5, 6):     1.0                      0.0151515151515          
   (2, 8):     1.0                      0.0151515151515          
   (6, 6):     1.0                      0.0151515151515          
  (3, 11):     1.0                      0.0151515151515          
   (7, 7):     1.0                      0.0151515151515          
   (8, 9):     1.0                      0.0151515151515          
  (4, 12):     1.0                      0.0151515151515          
  (2, 12):     1.0                      0.0151515151515          
   (3, 7):     1.0                      0.0151515151515          
   (2, 5):     1.0                      0.0151515151515          
  (1, 11):     1.0                      0.0151515151515          
  (7, 11):     1.0                      0.0151515151515          
   (8, 5):     1.0                      0.0151515151515          
   (5, 8):     1.0                      0.0151515151515          
   (4, 9):     1.0                      0.0151515151515          
   (5, 5):     1.0                      0.0151515151515          
   (2, 9):     1.0                      0.0151515151515          
   (6, 7):     1.0                      0.0151515151515          
  (3, 10):     1.0                      0.0151515151515          
   (4, 4):     1.0                      0.0151515151515          
  (6, 10):     1.0                      0.0151515151515          
   (7, 6):     1.0                      0.0151515151515          
  (8, 10):     1.0                      0.0151515151515          
   (1, 5):     1.0                      0.0151515151515          
  (9, 11):     1.0                      0.0151515151515          
   (3, 6):     1.0                      0.0151515151515          
  (7, 10):     1.0                      0.0151515151515          
   (8, 6):     1.0                      0.0151515151515          
   (9, 7):     1.0                      0.0151515151515          
  (4, 10):     1.0                      0.0151515151515          
   (6, 4):     1.0                      0.0151515151515          
   (2, 6):     1.0                      0.0151515151515          
   (8, 2):     1.0                      0.0151515151515          
  (5, 11):     1.0                      0.0151515151515          
   (4, 5):     1.0                      0.0151515151515          
  (6, 11):     1.0                      0.0151515151515          
  (8, 11):     1.0                      0.0151515151515          
  (2, 10):     1.0                      0.0151515151515          
   (3, 9):     1.0                      0.0151515151515          
   (7, 5):     1.0                      0.0151515151515          
   (1, 9):     1.0                      0.0151515151515          
   (8, 7):     1.0                      0.0151515151515          
  (6, 12):     1.0                      0.0151515151515          
  (4, 11):     1.0                      0.0151515151515          
   (3, 5):     1.0                      0.0151515151515          
   (2, 7):     1.0                      0.0151515151515          
   (6, 5):     1.0                      0.0151515151515          
   (7, 9):     1.0                      0.0151515151515          
  (5, 10):     1.0                      0.0151515151515          
   (4, 6):     1.0                      0.0151515151515          
   (6, 8):     1.0                      0.0151515151515          
  (8, 12):     1.0                      0.0151515151515          
   (5, 7):     1.0                      0.0151515151515          
  (2, 11):     1.0                      0.0151515151515          
   (9, 9):     1.0                      0.0151515151515          
   (3, 8):     1.0                      0.0151515151515          
   (8, 8):     1.0                      0.0151515151515          
   (1, 7):     1.0                      0.0151515151515          
   (9, 5):     1.0                      0.0151515151515          
   (7, 8):     1.0                      0.0151515151515          
   (2, 4):     1.0                      0.0151515151515          
   (8, 4):     1.0                      0.0151515151515          
q3) Exact inference elapseTime test: 202 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q3\3-ExactPredict.test
q3) Distribution deviated at move 0 by 129.0076 (squared norm) from the correct answer.
      key:     student                  reference                
  (16, 6):     1.0                      0.00763358778626         
 (11, 11):     1.0                      0.00763358778626         
  (17, 7):     1.0                      0.00763358778626         
  (16, 9):     1.0                      0.00763358778626         
  (14, 4):     1.0                      0.00763358778626         
  (13, 4):     1.0                      0.00763358778626         
 (20, 20):     1.0                      0.00763358778626         
  (18, 4):     1.0                      0.00763358778626         
 (18, 19):     1.0                      0.00763358778626         
   (2, 5):     1.0                      0.00763358778626         
   (8, 5):     1.0                      0.00763358778626         
  (10, 8):     1.0                      0.00763358778626         
  (11, 5):     1.0                      0.00763358778626         
  (10, 7):     1.0                      0.00763358778626         
  (16, 3):     1.0                      0.00763358778626         
  (12, 6):     1.0                      0.00763358778626         
 (15, 11):     1.0                      0.00763358778626         
 (16, 22):     1.0                      0.00763358778626         
  (13, 7):     1.0                      0.00763358778626         
  (18, 9):     1.0                      0.00763358778626         
  (15, 4):     1.0                      0.00763358778626         
 (18, 20):     1.0                      0.00763358778626         
   (9, 3):     1.0                      0.00763358778626         
 (19, 24):     1.0                      0.00763358778626         
 (12, 11):     1.0                      0.00763358778626         
 (13, 10):     1.0                      0.00763358778626         
 (18, 10):     1.0                      0.00763358778626         
 (17, 18):     1.0                      0.00763358778626         
   (9, 9):     1.0                      0.00763358778626         
  (14, 8):     1.0                      0.00763358778626         
 (21, 24):     1.0                      0.00763358778626         
  (12, 8):     1.0                      0.00763358778626         
 (20, 16):     1.0                      0.00763358778626         
  (17, 8):     1.0                      0.00763358778626         
 (18, 15):     1.0                      0.00763358778626         
   (8, 9):     1.0                      0.00763358778626         
   (9, 4):     1.0                      0.00763358778626         
  (10, 3):     1.0                      0.00763358778626         
  (16, 7):     1.0                      0.00763358778626         
 (11, 10):     1.0                      0.00763358778626         
  (17, 6):     1.0                      0.00763358778626         
 (16, 10):     1.0                      0.00763358778626         
  (14, 5):     1.0                      0.00763358778626         
  (13, 3):     1.0                      0.00763358778626         
  (18, 5):     1.0                      0.00763358778626         
 (17, 11):     1.0                      0.00763358778626         
 (18, 16):     1.0                      0.00763358778626         
   (8, 6):     1.0                      0.00763358778626         
  (10, 9):     1.0                      0.00763358778626         
   (9, 7):     1.0                      0.00763358778626         
  (11, 4):     1.0                      0.00763358778626         
  (10, 4):     1.0                      0.00763358778626         
  (16, 4):     1.0                      0.00763358778626         
  (12, 7):     1.0                      0.00763358778626         
  (11, 9):     1.0                      0.00763358778626         
 (15, 10):     1.0                      0.00763358778626         
  (14, 6):     1.0                      0.00763358778626         
  (13, 6):     1.0                      0.00763358778626         
  (18, 6):     1.0                      0.00763358778626         
 (17, 22):     1.0                      0.00763358778626         
  (15, 7):     1.0                      0.00763358778626         
 (18, 21):     1.0                      0.00763358778626         
   (8, 3):     1.0                      0.00763358778626         
 (10, 10):     1.0                      0.00763358778626         
  (11, 3):     1.0                      0.00763358778626         
  (12, 4):     1.0                      0.00763358778626         
  (15, 9):     1.0                      0.00763358778626         
  (14, 3):     1.0                      0.00763358778626         
  (13, 9):     1.0                      0.00763358778626         
 (18, 11):     1.0                      0.00763358778626         
 (18, 22):     1.0                      0.00763358778626         
   (9, 8):     1.0                      0.00763358778626         
  (14, 9):     1.0                      0.00763358778626         
  (12, 9):     1.0                      0.00763358778626         
 (17, 15):     1.0                      0.00763358778626         
 (21, 20):     1.0                      0.00763358778626         
 (18, 12):     1.0                      0.00763358778626         
  (8, 10):     1.0                      0.00763358778626         
  (9, 11):     1.0                      0.00763358778626         
  (12, 3):     1.0                      0.00763358778626         
  (17, 5):     1.0                      0.00763358778626         
 (15, 22):     1.0                      0.00763358778626         
 (14, 10):     1.0                      0.00763358778626         
 (16, 11):     1.0                      0.00763358778626         
 (17, 10):     1.0                      0.00763358778626         
  (15, 3):     1.0                      0.00763358778626         
 (18, 17):     1.0                      0.00763358778626         
   (8, 7):     1.0                      0.00763358778626         
   (9, 6):     1.0                      0.00763358778626         
  (11, 7):     1.0                      0.00763358778626         
  (10, 5):     1.0                      0.00763358778626         
  (16, 5):     1.0                      0.00763358778626         
 (20, 24):     1.0                      0.00763358778626         
  (11, 8):     1.0                      0.00763358778626         
 (19, 16):     1.0                      0.00763358778626         
  (16, 8):     1.0                      0.00763358778626         
  (14, 7):     1.0                      0.00763358778626         
  (13, 5):     1.0                      0.00763358778626         
  (18, 7):     1.0                      0.00763358778626         
  (15, 6):     1.0                      0.00763358778626         
 (18, 18):     1.0                      0.00763358778626         
   (8, 4):     1.0                      0.00763358778626         
 (10, 11):     1.0                      0.00763358778626         
  (10, 6):     1.0                      0.00763358778626         
  (12, 5):     1.0                      0.00763358778626         
  (17, 3):     1.0                      0.00763358778626         
  (15, 8):     1.0                      0.00763358778626         
  (13, 8):     1.0                      0.00763358778626         
 (21, 16):     1.0                      0.00763358778626         
  (18, 8):     1.0                      0.00763358778626         
  (15, 5):     1.0                      0.00763358778626         
 (18, 23):     1.0                      0.00763358778626         
 (15, 18):     1.0                      0.00763358778626         
 (16, 15):     1.0                      0.00763358778626         
 (12, 10):     1.0                      0.00763358778626         
 (15, 15):     1.0                      0.00763358778626         
 (16, 18):     1.0                      0.00763358778626         
 (13, 11):     1.0                      0.00763358778626         
 (18, 13):     1.0                      0.00763358778626         
 (18, 24):     1.0                      0.00763358778626         
  (8, 11):     1.0                      0.00763358778626         
  (9, 10):     1.0                      0.00763358778626         
 (19, 20):     1.0                      0.00763358778626         
  (17, 4):     1.0                      0.00763358778626         
 (14, 11):     1.0                      0.00763358778626         
  (18, 3):     1.0                      0.00763358778626         
  (17, 9):     1.0                      0.00763358778626         
 (18, 14):     1.0                      0.00763358778626         
   (8, 8):     1.0                      0.00763358778626         
   (9, 5):     1.0                      0.00763358778626         
  (11, 6):     1.0                      0.00763358778626         
q3) Exact inference elapseTime test: 502 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q3\4-ExactPredict.test
Tests failed.</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 4 (0/5) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>q4) Distribution deviated at move 0 by 127.0078 (squared norm) from the correct answer.
      key:     student                  reference                
   (7, 3):     1.0                      0.007751937984496124     
   (6, 9):     1.0                      0.007751937984496124     
 (11, 11):     1.0                      0.007751937984496124     
  (7, 12):     1.0                      0.007751937984496124     
  (13, 4):     1.0                      0.007751937984496124     
   (1, 6):     1.0                      0.007751937984496124     
   (3, 7):     1.0                      0.007751937984496124     
  (1, 11):     1.0                      0.007751937984496124     
   (8, 5):     1.0                      0.007751937984496124     
   (5, 8):     1.0                      0.007751937984496124     
  (10, 8):     1.0                      0.007751937984496124     
   (6, 7):     1.0                      0.007751937984496124     
   (5, 5):     1.0                      0.007751937984496124     
  (11, 5):     1.0                      0.007751937984496124     
  (10, 7):     1.0                      0.007751937984496124     
   (7, 6):     1.0                      0.007751937984496124     
  (6, 10):     1.0                      0.007751937984496124     
  (13, 7):     1.0                      0.007751937984496124     
  (8, 15):     1.0                      0.007751937984496124     
  (4, 10):     1.0                      0.007751937984496124     
  (5, 11):     1.0                      0.007751937984496124     
   (4, 5):     1.0                      0.007751937984496124     
 (10, 13):     1.0                      0.007751937984496124     
   (9, 3):     1.0                      0.007751937984496124     
   (7, 5):     1.0                      0.007751937984496124     
 (13, 10):     1.0                      0.007751937984496124     
  (3, 12):     1.0                      0.007751937984496124     
  (1, 12):     1.0                      0.007751937984496124     
  (8, 12):     1.0                      0.007751937984496124     
  (4, 15):     1.0                      0.007751937984496124     
   (9, 9):     1.0                      0.007751937984496124     
  (6, 13):     1.0                      0.007751937984496124     
 (11, 15):     1.0                      0.007751937984496124     
   (7, 8):     1.0                      0.007751937984496124     
 (13, 13):     1.0                      0.007751937984496124     
  (3, 11):     1.0                      0.007751937984496124     
  (1, 15):     1.0                      0.007751937984496124     
   (8, 9):     1.0                      0.007751937984496124     
  (4, 12):     1.0                      0.007751937984496124     
  (10, 3):     1.0                      0.007751937984496124     
 (11, 10):     1.0                      0.007751937984496124     
  (7, 15):     1.0                      0.007751937984496124     
  (13, 3):     1.0                      0.007751937984496124     
   (1, 5):     1.0                      0.007751937984496124     
   (3, 6):     1.0                      0.007751937984496124     
  (1, 10):     1.0                      0.007751937984496124     
   (8, 6):     1.0                      0.007751937984496124     
  (10, 9):     1.0                      0.007751937984496124     
   (9, 7):     1.0                      0.007751937984496124     
  (6, 11):     1.0                      0.007751937984496124     
  (11, 9):     1.0                      0.007751937984496124     
  (13, 6):     1.0                      0.007751937984496124     
  (4, 11):     1.0                      0.007751937984496124     
   (3, 5):     1.0                      0.007751937984496124     
  (9, 13):     1.0                      0.007751937984496124     
   (8, 3):     1.0                      0.007751937984496124     
  (5, 10):     1.0                      0.007751937984496124     
   (4, 6):     1.0                      0.007751937984496124     
 (10, 10):     1.0                      0.007751937984496124     
   (5, 7):     1.0                      0.007751937984496124     
  (11, 3):     1.0                      0.007751937984496124     
  (13, 9):     1.0                      0.007751937984496124     
  (3, 15):     1.0                      0.007751937984496124     
   (1, 3):     1.0                      0.007751937984496124     
  (8, 13):     1.0                      0.007751937984496124     
   (4, 8):     1.0                      0.007751937984496124     
   (9, 8):     1.0                      0.007751937984496124     
  (5, 13):     1.0                      0.007751937984496124     
 (10, 15):     1.0                      0.007751937984496124     
  (7, 11):     1.0                      0.007751937984496124     
 (13, 12):     1.0                      0.007751937984496124     
  (3, 10):     1.0                      0.007751937984496124     
  (1, 14):     1.0                      0.007751937984496124     
  (8, 10):     1.0                      0.007751937984496124     
  (4, 13):     1.0                      0.007751937984496124     
  (9, 11):     1.0                      0.007751937984496124     
  (6, 15):     1.0                      0.007751937984496124     
  (12, 3):     1.0                      0.007751937984496124     
 (11, 13):     1.0                      0.007751937984496124     
 (13, 15):     1.0                      0.007751937984496124     
   (1, 4):     1.0                      0.007751937984496124     
   (3, 9):     1.0                      0.007751937984496124     
   (2, 3):     1.0                      0.007751937984496124     
   (1, 9):     1.0                      0.007751937984496124     
   (8, 7):     1.0                      0.007751937984496124     
   (9, 6):     1.0                      0.007751937984496124     
   (6, 5):     1.0                      0.007751937984496124     
   (5, 3):     1.0                      0.007751937984496124     
  (11, 7):     1.0                      0.007751937984496124     
  (10, 5):     1.0                      0.007751937984496124     
   (6, 8):     1.0                      0.007751937984496124     
  (11, 8):     1.0                      0.007751937984496124     
  (7, 13):     1.0                      0.007751937984496124     
  (13, 5):     1.0                      0.007751937984496124     
   (1, 7):     1.0                      0.007751937984496124     
  (9, 12):     1.0                      0.007751937984496124     
   (5, 9):     1.0                      0.007751937984496124     
   (4, 7):     1.0                      0.007751937984496124     
 (10, 11):     1.0                      0.007751937984496124     
   (6, 6):     1.0                      0.007751937984496124     
   (5, 6):     1.0                      0.007751937984496124     
  (10, 6):     1.0                      0.007751937984496124     
   (7, 7):     1.0                      0.007751937984496124     
  (13, 8):     1.0                      0.007751937984496124     
   (4, 9):     1.0                      0.007751937984496124     
   (3, 3):     1.0                      0.007751937984496124     
  (9, 15):     1.0                      0.007751937984496124     
  (5, 12):     1.0                      0.007751937984496124     
 (10, 12):     1.0                      0.007751937984496124     
   (6, 3):     1.0                      0.007751937984496124     
  (7, 10):     1.0                      0.007751937984496124     
 (13, 11):     1.0                      0.007751937984496124     
  (3, 13):     1.0                      0.007751937984496124     
  (1, 13):     1.0                      0.007751937984496124     
  (8, 11):     1.0                      0.007751937984496124     
  (9, 10):     1.0                      0.007751937984496124     
  (5, 15):     1.0                      0.007751937984496124     
  (6, 12):     1.0                      0.007751937984496124     
 (11, 12):     1.0                      0.007751937984496124     
   (7, 9):     1.0                      0.007751937984496124     
 (12, 15):     1.0                      0.007751937984496124     
 (13, 14):     1.0                      0.007751937984496124     
   (3, 8):     1.0                      0.007751937984496124     
   (1, 8):     1.0                      0.007751937984496124     
   (8, 8):     1.0                      0.007751937984496124     
   (4, 3):     1.0                      0.007751937984496124     
  (2, 15):     1.0                      0.007751937984496124     
   (9, 5):     1.0                      0.007751937984496124     
  (11, 6):     1.0                      0.007751937984496124     
q4) Exact inference full test: 404 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q4\1-ExactFull.test
q4) Distribution deviated at move 0 by 57.0169 (squared norm) from the correct answer.
      key:     student                  reference                
   (7, 3):     1.0                      0.01694915254237288      
  (16, 6):     1.0                      0.01694915254237288      
   (1, 3):     1.0                      0.01694915254237288      
   (6, 6):     1.0                      0.01694915254237288      
   (5, 6):     1.0                      0.01694915254237288      
  (14, 4):     1.0                      0.01694915254237288      
  (13, 4):     1.0                      0.01694915254237288      
  (10, 6):     1.0                      0.01694915254237288      
  (18, 4):     1.0                      0.01694915254237288      
  (17, 3):     1.0                      0.01694915254237288      
   (1, 6):     1.0                      0.01694915254237288      
   (9, 4):     1.0                      0.01694915254237288      
  (10, 3):     1.0                      0.01694915254237288      
  (17, 6):     1.0                      0.01694915254237288      
   (3, 3):     1.0                      0.01694915254237288      
  (14, 5):     1.0                      0.01694915254237288      
  (13, 3):     1.0                      0.01694915254237288      
   (7, 6):     1.0                      0.01694915254237288      
   (4, 4):     1.0                      0.01694915254237288      
  (16, 3):     1.0                      0.01694915254237288      
  (12, 6):     1.0                      0.01694915254237288      
  (18, 5):     1.0                      0.01694915254237288      
   (6, 3):     1.0                      0.01694915254237288      
   (1, 5):     1.0                      0.01694915254237288      
   (3, 6):     1.0                      0.01694915254237288      
  (15, 4):     1.0                      0.01694915254237288      
   (8, 6):     1.0                      0.01694915254237288      
  (12, 3):     1.0                      0.01694915254237288      
   (6, 4):     1.0                      0.01694915254237288      
   (5, 4):     1.0                      0.01694915254237288      
   (2, 6):     1.0                      0.01694915254237288      
  (11, 4):     1.0                      0.01694915254237288      
  (10, 4):     1.0                      0.01694915254237288      
  (16, 4):     1.0                      0.01694915254237288      
  (15, 3):     1.0                      0.01694915254237288      
   (9, 3):     1.0                      0.01694915254237288      
   (1, 4):     1.0                      0.01694915254237288      
  (14, 6):     1.0                      0.01694915254237288      
  (13, 6):     1.0                      0.01694915254237288      
   (7, 5):     1.0                      0.01694915254237288      
   (2, 3):     1.0                      0.01694915254237288      
  (18, 6):     1.0                      0.01694915254237288      
   (9, 6):     1.0                      0.01694915254237288      
  (17, 4):     1.0                      0.01694915254237288      
   (5, 3):     1.0                      0.01694915254237288      
   (8, 3):     1.0                      0.01694915254237288      
  (16, 5):     1.0                      0.01694915254237288      
   (4, 6):     1.0                      0.01694915254237288      
  (18, 3):     1.0                      0.01694915254237288      
  (11, 3):     1.0                      0.01694915254237288      
   (7, 4):     1.0                      0.01694915254237288      
  (15, 6):     1.0                      0.01694915254237288      
  (12, 4):     1.0                      0.01694915254237288      
   (4, 3):     1.0                      0.01694915254237288      
  (14, 3):     1.0                      0.01694915254237288      
   (3, 4):     1.0                      0.01694915254237288      
   (2, 4):     1.0                      0.01694915254237288      
  (11, 6):     1.0                      0.01694915254237288      
   (8, 4):     1.0                      0.01694915254237288      
q4) Exact inference full test: 408 inference errors.
FAIL: C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\test_cases\q4\2-ExactFull.test
FAIL: Exception raised: must be str, not NoneType

Traceback (most recent call last):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\grading.py", line 77, in grade
    util.TimeoutFunction(getattr(gradingModule, q),1800)(self) # Call the question's function
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\util.py", line 639, in __call__
    result = self.function(*args, **keyArgs)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 300, in &lt;lambda&gt;
    return lambda grades: question.execute(grades)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\testClasses.py", line 57, in execute
    if not f(grades):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 295, in &lt;lambda&gt;
    return lambda grades: testCase.execute(grades, moduleDict, solutionDict)
  File "tracking_fa14TestClasses.py", line 78, in execute
    stats = run(self.layout_str, pac, ghosts, self.question.getDisplay(), nGames=self.numRuns, maxMoves=self.maxMoves, quiet = False)
  File "tracking_fa14TestClasses.py", line 269, in run
    games = busters.runGames(lay, pac, ghosts, disp, nGames, maxMoves)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\busters.py", line 543, in runGames
    game.run()
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\game.py", line 700, in run
    self.state = self.state.getResult( agentIndex, action )
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\busters.py", line 109, in getResult
    PacmanRules.applyAction( state, action )
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\busters.py", line 340, in applyAction
    raise Exception("Illegal action " + action)
TypeError: must be str, not NoneType
</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 5 (0/15) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>FAIL: Exception raised: 'NoneType' object has no attribute 'copy'

Traceback (most recent call last):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\grading.py", line 77, in grade
    util.TimeoutFunction(getattr(gradingModule, q),1800)(self) # Call the question's function
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\util.py", line 639, in __call__
    result = self.function(*args, **keyArgs)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 300, in &lt;lambda&gt;
    return lambda grades: question.execute(grades)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\testClasses.py", line 57, in execute
    if not f(grades):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 295, in &lt;lambda&gt;
    return lambda grades: testCase.execute(grades, moduleDict, solutionDict)
  File "tracking_fa14TestClasses.py", line 176, in execute
    run(self.layout_str, pac, ghosts, disp, maxMoves=self.maxMoves)
  File "tracking_fa14TestClasses.py", line 269, in run
    games = busters.runGames(lay, pac, ghosts, disp, nGames, maxMoves)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\busters.py", line 543, in runGames
    game.run()
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\game.py", line 607, in run
    agent.registerInitialState(self.state.deepCopy())
  File "tracking_fa14TestClasses.py", line 424, in registerInitialState
    self.distCompare(inf.getBeliefDistribution(), dists[index])
  File "tracking_fa14TestClasses.py", line 453, in distCompare
    dist = dist.copy()
AttributeError: 'NoneType' object has no attribute 'copy'
</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 6 (0/15) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>FAIL: Exception raised: 'NoneType' object has no attribute 'copy'

Traceback (most recent call last):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\grading.py", line 77, in grade
    util.TimeoutFunction(getattr(gradingModule, q),1800)(self) # Call the question's function
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\util.py", line 639, in __call__
    result = self.function(*args, **keyArgs)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 300, in &lt;lambda&gt;
    return lambda grades: question.execute(grades)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\testClasses.py", line 57, in execute
    if not f(grades):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 295, in &lt;lambda&gt;
    return lambda grades: testCase.execute(grades, moduleDict, solutionDict)
  File "tracking_fa14TestClasses.py", line 176, in execute
    run(self.layout_str, pac, ghosts, disp, maxMoves=self.maxMoves)
  File "tracking_fa14TestClasses.py", line 269, in run
    games = busters.runGames(lay, pac, ghosts, disp, nGames, maxMoves)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\busters.py", line 543, in runGames
    game.run()
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\game.py", line 607, in run
    agent.registerInitialState(self.state.deepCopy())
  File "tracking_fa14TestClasses.py", line 424, in registerInitialState
    self.distCompare(inf.getBeliefDistribution(), dists[index])
  File "tracking_fa14TestClasses.py", line 453, in distCompare
    dist = dist.copy()
AttributeError: 'NoneType' object has no attribute 'copy'
</pre>
        </div>
        </section>
      </div>
      
        <div class="test">
          <section>
          <div class="shortform">
            Question 7 (0/15) <span class="incorrect"/>
          </div>
        <div class="longform">
          <pre>FAIL: Exception raised: 'NoneType' object has no attribute 'copy'

Traceback (most recent call last):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\grading.py", line 77, in grade
    util.TimeoutFunction(getattr(gradingModule, q),1800)(self) # Call the question's function
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\util.py", line 639, in __call__
    result = self.function(*args, **keyArgs)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 300, in &lt;lambda&gt;
    return lambda grades: question.execute(grades)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\testClasses.py", line 57, in execute
    if not f(grades):
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\autograder.py", line 295, in &lt;lambda&gt;
    return lambda grades: testCase.execute(grades, moduleDict, solutionDict)
  File "tracking_fa14TestClasses.py", line 176, in execute
    run(self.layout_str, pac, ghosts, disp, maxMoves=self.maxMoves)
  File "tracking_fa14TestClasses.py", line 269, in run
    games = busters.runGames(lay, pac, ghosts, disp, nGames, maxMoves)
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\busters.py", line 543, in runGames
    game.run()
  File "C:\Dev\CS471\10 - STUDENT STUBS\PEX4-Inference\game.py", line 607, in run
    agent.registerInitialState(self.state.deepCopy())
  File "tracking_fa14TestClasses.py", line 424, in registerInitialState
    self.distCompare(inf.getBeliefDistribution(), dists[index])
  File "tracking_fa14TestClasses.py", line 453, in distCompare
    dist = dist.copy()
AttributeError: 'NoneType' object has no attribute 'copy'
</pre>
        </div>
        </section>
      </div>
      </div>